.section{
    padding: 8rem 0 7rem;
    text-align: center;
}
.section-heading h3{
font-size: 20px;

}
.section img{
    position: relative;

    margin: 3rem auto -12rem;
}
.section-a{
    background-image: url('../img/img1.jpg');
    background-size: cover;
    color: #fff;
    padding: 5rem;
}
.section-discription{
    padding: 8rem 0 0;
    text-align: center;
}
.section-c{
    background-image: url('../img/img1.jpg');
    background-size: cover;
    color: #fff;
    padding: 5rem;
}
@media(min-width:500px){
    h3{
        font-size: 3rem;
        padding-top: 50px;
        } 
}